.u-section-1 .u-sheet-1 {
  min-height: 62px;
}

.u-section-1 .u-list-1 {
  width: 947px;
  margin: 1px 10px 1px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 60px;
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 0.9375rem;
  margin: 0 auto 0 0;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 0.9375rem;
  margin: 0 auto 0 0;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: bold;
  font-size: 0.9375rem;
  margin: 0 auto 0 0;
  padding: 7px 27px 7px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 143px;
    grid-template-columns: calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px) calc(33.3333% - 3.33333px);
    grid-gap: 5px 5px;
    grid-auto-columns: calc(33.3333% - 3.33333px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 328px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 190px;
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
    grid-auto-columns: calc(50% - 2.4999975px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 28px;
    padding-left: 27px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 452px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 451px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 63.24%;
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 372px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-2 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 855px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 535px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 508px;
  margin: 10px auto 0;
}

.u-section-3 .u-list-1 {
  width: 622px;
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 473px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 1px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: -64px 0 0 115px;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 30px 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 1px 20px 0;
}

.u-section-3 .u-text-3 {
  margin: -64px 0 0 115px;
}

.u-section-3 .u-container-layout-3 {
  padding: 12px 30px 0;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 1px 20px 0;
}

.u-section-3 .u-text-4 {
  margin: -64px 0 0 115px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 491px;
  }

  .u-section-3 .u-icon-1 {
    height: 52px;
    width: 52px;
    margin-top: 45px;
    margin-right: 268px;
    margin-left: 0;
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -97px;
    margin-right: 8px;
    margin-left: 63px;
  }

  .u-section-3 .u-icon-2 {
    height: 52px;
    width: 52px;
    margin-top: 45px;
    margin-right: 268px;
    margin-left: 0;
    padding: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -97px;
    margin-right: 8px;
    margin-left: 63px;
  }

  .u-section-3 .u-icon-3 {
    height: 52px;
    width: 52px;
    margin-top: 45px;
    margin-right: 268px;
    margin-left: 0;
    padding: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -97px;
    margin-right: 8px;
    margin-left: 63px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 309px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 309px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 735px;
    grid-gap: 0px 0px;
    grid-auto-columns: 33.3333%;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1654px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1620px;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-list-1 {
    margin-top: 27px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 673px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 9px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 372px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 203px;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: -26px;
  margin-bottom: 1px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 285px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 21px auto 0;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 315px;
    grid-gap: 10px 10px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-list-1 {
    grid-template-rows: auto;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-5 .u-text-1 {
    width: 96px;
    margin-top: 30px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 471px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 383px;
  margin: 20px auto 0;
}

.u-section-6 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-6 .u-input-1 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-input-2 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-input-3 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-line-1 {
  height: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
}

.u-section-6 .u-form-group-6 {
  margin-left: 0;
}

.u-section-6 .u-input-4 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-text-3 {
  margin-left: 0;
}

.u-section-6 .u-form-group-8 {
  margin-left: 0;
}

.u-section-6 .u-input-5 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-line-2 {
  height: 0;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
}

.u-section-6 .u-form-group-11 {
  margin-left: 0;
}

.u-section-6 .u-form-group-12 {
  margin-left: 0;
}

.u-section-6 .u-input-6 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-form-group-13 {
  margin-left: 0;
}

.u-section-6 .u-input-7 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-form-group-14 {
  margin-left: 0;
}

.u-section-6 .u-form-group-15 {
  margin-left: 0;
}

.u-section-6 .u-input-8 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-form-group-16 {
  margin-left: 0;
}

.u-section-6 .u-input-9 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-form-group-17 {
  margin-left: 0;
}

.u-section-6 .u-form-group-18 {
  margin-left: 0;
}

.u-section-6 .u-input-10 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-form-group-19 {
  margin-left: 0;
}

.u-section-6 .u-input-11 {
  /* text-transform: uppercase; */
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 68px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 10px auto;
}

.u-section-7 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-7 .u-icon-3 {
  height: 0;
}
