body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

.hero h1 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.alth1 {
  margin-bottom: 0rem;
  color: #333;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-align: center;
}

.hero h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.hero button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero button:hover {
  background-color: #333;
  color: #fff;
}

.altbutton {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 10px;
}

.altbutton:hover {
  background-color: #333;
  color: #fff;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  height: auto;
  width: 80px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f8f8f8;
}

.hero h1 {
  margin-bottom: 1rem;
  color: #333;
}

.section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #fff;
}

.card {
  width: 25%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  flex: 1; /* Take up remaining space within the flex container */
  width:100%;
  height:100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the content takes up the full height */
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

.infocard {
  width: 40%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
}

.infocard:hover {
  transform: scale(1.05);
}

.infocard img {
  flex: 1; /* Take up remaining space within the flex container */
  width:50%;
  height:50%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.infocard-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the content takes up the full height */
}

.infocard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.infocard ul {
  list-style-type: none;
  padding: 0;
}

.infocard li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}

.pricingcard {
  width: 60%;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  overflow: visible; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
}

.pricingcard:hover {
  transform: scale(1.05);
}

.pricingcard img {
  flex: 1; /* Take up remaining space within the flex container */
  width:20%;
  height:20%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.pricingcard-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the content takes up the full height */
}

.pricingcard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.pricingcard ul {
  list-style-type: none;
  padding: 0;
}

.pricingcard li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}

.processcard {
  width: 80%;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  overflow: visible; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
}

.processcard:hover {
  transform: scale(1.05);
}

.processcard img {
  flex: 1; /* Take up remaining space within the flex container */
  width:20%;
  height:20%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.processcard-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; /* Ensure the content takes up the full height */
}

.processcard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.processcard ul {
  list-style-type: none;
  padding: 0;
}

.processcard li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}

.column {
  width: 35%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  padding: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
}

.column:hover {
  transform: scale(1.05);
}

.column img {
  flex: 1; /* Take up remaining space within the flex container */
  width:20%;
  height:20%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.column-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the content takes up the full height */
}

.column h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.column ul {
  list-style-type: none;
  padding: 0; 
}

.column li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}

.column li.highlight {
  color: #000000; /* Change the text color to white */
  background-color: #dedede; /* Highlight color for the box */
  padding: 0.3rem 0.5rem; /* Add padding to the box */
  border-radius: 5px; /* Add rounded corners to the box */
  display: inline-block; /* Make the box wrap around the text */
  text-align: center;
}

.column li.price {
  width: 40%;
  color: #fff; /* Change the text color to white */
  background-color: #474545; /* Highlight color for the box */
  padding: 1rem 1rem; /* Add padding to the box */
  border-radius: 5px; /* Add rounded corners to the box */
  display: inline-block; /* Make the box wrap around the text */
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
}

.formcard {
  width: 40%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
}

.formcard:hover {
  transform: scale(1.05);
}

.formcard img {
  flex: 1; /* Take up remaining space within the flex container */
  width:15%;
  height:15%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.formcard-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the content takes up the full height */
}

.formcard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.formcard ul {
  list-style-type: none;
  padding: 0;
}

.formcard li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #555;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-top: 1rem;
    text-align: center;
  }

  .menu li {
    display: block;
    margin: 1rem 0;
  }

  .hero {
    padding: 3rem 1rem;
  }

  .hero h1 {
    font-size: 4rem;
    }

  .section {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .card {
    width: 80%;
    margin-bottom: 2rem;
  }

  .infocard {
    width: 80%;
    margin-bottom: 2rem;
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .pricingcard {
    width: 70%;
    margin-bottom: 2rem;
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .processcard {
    width: 70%;
    margin-bottom: 2rem;
    flex-direction: column; /* Stack columns on smaller screens */
  }

  .column {
    width: 100%; /* Full width for columns on smaller screens */
    margin-bottom: 1rem; /* Add margin between stacked columns */
  }

  .formcard {
    width: 80%
  }

  .processcard img {
    width: 5%;
    height: 5%;
  }
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  margin-left: 0.5rem; /* Add some space between the logo and text */
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer img {
  height: 50px; /* Adjust the height of the logo as needed */
  margin-right: 0.5rem; /* Add some space to the right of the logo */
}

form {
  width:80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  color: #000000; /* Change the text color to black */
  background-color: #dedede; /* Highlight color for the box */
  padding: 0.3rem 0.5rem; /* Add padding to the box */
  border-radius: 5px; /* Add rounded corners to the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

label.choice {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: 20px;
}

/* Hide the actual checkboxes */
input[type="checkbox"] {
  display: none;
}

/* Change label background color when checkbox is checked */
input[type="checkbox"]:checked + label {
  background-color: #333;
  color: #fff;
}



input, textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
}

.choicecard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

#endurancesection {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 90%;
}
#strengthsection {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 90%;
}
#nutritionsection {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 90%;
}

.thankcard {
  width: 40%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure the overflow is hidden to prevent content spillover */
  align-items: center;
  border-radius: 20px;
}
